```
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.env
venv/
.env/

.ipynb_checkpoints

.DS_Store
```
```
# datasets
data/raw/*
data/processed/*

# allow folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
```
